* {
  box-sizing: border-box;
}

/* general styling */
h1, h2, h3 {
  font-family: 'Montserrat', 'Helvetica', sans-serif;
}

h2 {
  color: rebeccapurple;
}

/* nav bar */
nav {
  color: white;
  background-color: #4b2e83;
  padding: .25em 0;
}

nav ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
}

@media (min-width: 768px) {
  nav ul {
    justify-content: center;
  }
}

nav li {
  display: inline-block;
  width: 150px;
}

nav a {
  color: white;
}



/* main content (columns) */
main {
  /* display: flex; */
}

/* about section */
.about-section {
  background-color: #f8f8f8;
  /* margin-left: 1.5em; */
  flex-basis: 30%;
  order: 2;
}

.about-section img {
  max-width: 150px;
}


/* topics cards */
.card-box {
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: space-between;
}

.topics-section .card {
  border: 1px solid black;
  flex-grow: 1;
}

.topics-section img {
  max-width: 150px;
}

/* other */
footer {
  font-size: smaller;
}

/* If screen is at least 576 */
@media (min-width: 576px){
  body {
    background-color: lightpink;
  }

  .card {
    background-color: white;
  }
}

/* If screen is at least 768 */
@media (min-width: 768px){
  body {
    background-color: lightgray;
  }

  .card-box {
    display: flex;
  }

  .card-box .card {
    flex-basis: 50%
  }
}

/* If screen is at least 992 */
@media (min-width: 992px){
  body {
    background-color: goldenrod
  }

  .card-box .card {
    flex-basis: 33%;
  }
}